html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}



@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    display: none;
    -webkit-transform: translateX(-80px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(-80px);
  }
}

.fadeOutLeft {
  -webkit-animation: 250ms linear fadeOutLeft;
  animation: 250ms linear fadeOutLeft;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    display: none;
    -webkit-transform: translateX(80px);
  }
  20% {
    display: flex;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(80px);
  }
  20% {
    display: flex;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.loginForEmailAndPass {
  /* transform: translateX(366px) translateY(-100px); */
  display: none;
  opacity: 0;
}
.fadeInLeft {
  -webkit-animation: 250ms linear 250ms fadeInLeft;
  animation: 250ms linear 250ms fadeInLeft;
  animation-fill-mode: forwards;
}
.video {
  transition: all 100ms ease-in-out;
}

.visible-visible {
  visibility: visible;
}
.visible-hidden {
  visibility: hidden;
}
